@font-face {
    font-family: Futura;
    src: url('./fonts/Futura.ttf');
}

:root {
    --primary-color: #C890A7;
    --secondary-color: #FBF5E5;
    --dark-color: #212121;
    --neutral-color: #424242;

    font-family: Futura;
    font-size: 12px;
}

body {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-rows: 150px 1fr 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoImage {
    width: 128px;
    height: auto;
}
